:global(.ant-pro-page-container .ant-pro-page-container-warp-page-header) {

  background-color: #fff;
}
:global(.ant-pro-card .ant-pro-card-body) {
  background-color: #e8e7e7d5;
}
.title{
  margin: 20px 0 0 10px;
}
.specialFormLabel, .tableHeaderCommon{
  font-weight: bolder;
  font-size: 19px;
  font-family: 楷体, sans-serif;
}
.formFlexContainer {
  width: 100%;
}
.questionSearchItem {
  flex: 1;
  margin-bottom: 0 !important;
  margin-right: 0 !important;
}
.searchBtn {
  margin-bottom: 0 !important;
  align-self: flex-end;
  margin-left: -24px !important;
  margin-right: 0 !important;
}
.formItemCommon {
  flex: 1;
  margin-bottom: 0 !important;
}
.questionInput {
  margin-right: 0 !important;
}
.globalTable {
  margin: 24px 0 0 10px;
}

.tableColumnName {
  font-size: 13px !important;
  color: #333 !important;
  min-width: 200px !important;
}
.tableColumnClassify {
  font-size: 15px !important;
  color: #333 !important;
  min-width: 120px !important;
}
.tableColumnType {
  font-size: 15px !important;
  color: #333 !important;
  min-width: 120px !important;
}
.tableColumnTime {
  font-size: 15px !important; 
  color: #666 !important;
  min-width: 180px !important;
}
.tableColumnName {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  max-width: 280px !important;
  font-size: 15px !important;
  color: #333 !important;
  min-width: 200px !important;
}