
.box{
  width: 70vw;
  // height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  // padding: 20px 0;
}
.steps{
  width: 100%;
  // margin: 20px auto 60px;
  margin: 30px auto;
  & :global(.ant-steps-item-title){
    font-size: 14px;
  }
}

.form{
  width: 80%;
  // margin:auto ;
}
